@model MarketPlace.dataLayer.DTOs.StoreWallet.FilterStoreWalletDto
@using MarketPlace.application.EnumExtensions
@using MarketPlace.application.Utils
@{
    ViewData["Title"] = "کیف پول فروشنده";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  string NotFoundError = "فاکتوری یافت نشد";
}
 

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("StoreSideBar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="account-details">
                            <h3>@ViewData["Title"] </h3>
                            <div class="table-responsive">
                                <form id="filter-form" asp-area="Store" asp-controller="StoreWallet" asp-action="Index" method="get">
                                    <input type="hidden" asp-for="PageId"/>
                                </form>
                                @if (Model.StoreWallets != null && Model.StoreWallets.Any())
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>مبلغ</th>
                                                <th>نوع</th>
                                                <th>تاریخ</th>
                                                <th>شرح</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.StoreWallets)
                                            {
                                                <tr>
                                                    <td>@item.Amount.ToString("n0") تومان</td>
                                                    <td>@item.TransactionType.GetEnumDisplayName()</td>
                                                       <td> @item.CreateDate.ToShamsiDate()</td>
                                                       <td>
                                                        @item.Description
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    <partial name="_SitePaging" model="@Model.GetCurrentPaging()"></partial>

                                }
            else
            {
                                    <partial name="_NoItemFound" model="@NotFoundError"/>
            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 